.InnerLayout{
    padding: 2rem 1.5rem;
    width: 100%;
}

.ButtonStyle{
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
    ;
}

.ButtonStyle:hover{
    background: green;
}
