.FormStyle{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.input-control {
   line-height: 1.2rem;
   
}
input, textarea, select{
    /* line-height: none; */
    /* font-family: inherit; */
    font-size: inherit;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 3px solid #0f1219;
    background: transparent;
    resize: none;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06); 
     color: white;
        &::placeholder{
            color: white;
        }
}



.input-control{
    input{
      width: 100%;  
    }
        
    
}

.selects {
  
&:focus, &:active{
    color: black;
}
}

option{
    color:black ;
}


/* .submit-button  {
    width: 200px;
    button{
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
        &:hover{
    background: green !important;}
}
} */

.submit-button  {
    width: 200px;
    button{
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
        &:hover{
    background: green !important;}
}
}

/* .input-control input[type="text"] {
  height: 40px; 
  padding: 10px; 
  line-height: 1.5; 

}


.input-control input[type="text"]::placeholder {
  color: #999; 
} */



    