/* .InnerLayout{
    padding: 2rem 1.5rem;
    width: 100%;
    display: inline;
    display: flex;
}

.incomeStyle{
    display: flex;
    overflow: auto;
}

.income-content{
    display: flex;
    gap: 2rem;
    display: block;
} */



.InnerLayout {
    padding: 2rem 1.5rem;
    width: 100%;
    /* display: flex; */
    justify-content: space-between; /* Aligns items to the left and right */
    align-items: flex-start;
  }
  
  .IncomeStyle {
    display: flex;
    overflow: auto;
  }
  
  .income-content {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    /* flex-grow: 1;  */
    /* Allows the income items to take remaining space */
  }
  
  .form-container {
    width: 50% !important;
    /* flex: 1;  */
    /* Allows the form to take available space on the right */
  }

  /* .incomes{
    background-color: #0F1219;
    height: 120px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #fff;
    opacity: 0.8;
  } */
  

